#
# example configuration file
#
# *you should probably copy this to config.yml and put in your prod settings
#
development: &defaults
  username: "upshort"
  password: "password"
  session_name: "_upshort_session"
  session_secret: "!l4Na3|rMnt*Q*tW-J7/6mDn4sy_0|"
test:
  <<: *defaults
  username: "testupshort"
  password: "1$8!bjc;zf'0qbY"
production:
  <<: *defaults
  username: "TODOUSERNAME"
  password: "TODOPASSWORD"
